<!DOCTYPE html>
<html>

<head>
  <title>Dosya yükleme </title>
  <link rel="icon" type="image/png" href="data/img/favicon.png">
  <link rel="stylesheet" href="/static/css/style.css">
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
  <div class="file-upload">
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Resim
      Ekle</button>
    <div>
      <div class="image-upload-wrap">
        <input class="file-upload-input" type='file' accept="image/*" />
        <div class="drag-text">
          <h3>Bir dosyayı sürükleyip bırakın veya Resim Ekle'yi seçin</h3>
        </div>

      </div>

      <!-- Button with "I" (information) -->
      <div class="position-fixed" style="top: 10px; right: 10px; z-index: 1000;">
        <button class="btn btn-info btn-lg" style="background:rgb(177, 143, 51) !important;" onclick="getHelpPage()">README</button>
      </div>
      <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <br>
        <div class="image-title-wrap">
          <button type="button" onclick="loadUpload();" class="add-image"> Yükleyin </button>
        </div>
        <div class="image-title-wrap">
          <button type="button" onclick="removeUpload()" class="remove-image"> <span class="image-title"></span>
            Dosyasını Silin</button>
        </div>

      </div>
      <!-- Spinner  -->
      <div id="spinner" class="spinner" style="display:none;">
        <img src="data/img/wedges.gif" alt="Loading..." />
      </div>
      <!-- Download link -->
      <div id="download-link-container" class="text-center mt-4">
        <a id="download-link" href="" class="btn btn-green" style="display:none;">
          <i class="fas fa-download"></i> İndir
        </a>
        <div id="download-link-info" style="display:none;">
          <br>
          İndirdiğiniz .gltf ve .bin (hepsini yükleyin) <a href="https://gltf-viewer.donmccurdy.com/" target="_blank">
            Linkinde</a> test edebilirsiniz.
          <br>
          <hr>
          Sorularınız için, Tel 0(532) 602 3450
          <hr>

        </div>
      </div>
      <form id="color-heights-form">
        <label>Siyah Y: <input type="number" name="black_height" value="5" onchange="saveColorHeight('black_height', this.value)"/></label><br>
        <label>Sarı Y. : <input type="number" name="yellow_height" value="10" onchange="saveColorHeight('yellow_height', this.value)"/></label><br>
        <label>Mavi Y : <input type="number" name="blue_height" value="15" onchange="saveColorHeight('blue_height', this.value)"/></label><br>
        <label>Beyaz : <input type="number" name="white_height" value="20" onchange="saveColorHeight('white_height', this.value)"/></label><br>
        <label>Kırmızı: <input type="number" name="red_height" value="25" onchange="saveColorHeight('red_height', this.value)"/></label><br>
      </form>
  </div>

    <script>

      function readURL(input) {
        if (input.files && input.files[0]) {

          var reader = new FileReader();

          reader.onload = function (e) {
            $('.image-upload-wrap').hide();
            $('.file-upload-image').attr('src', e.target.result);
            $('.file-upload-content').show();
            $('.image-title').html(input.files[0].name);
          };

          reader.readAsDataURL(input.files[0]);

        } else {
          removeUpload();
        }
      }

      // 
      function removeUpload() {
        window.location.reload()
        /*
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();

        $('.image-upload-wrap').bind('dragover', function () {
          $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
          $('.image-upload-wrap').removeClass('image-dropping');
        });*/
      }

      async function loadUpload() {
        // Show spinner
        document.getElementById('spinner').style.display = 'block';

        var fileInput = document.querySelector('.file-upload-input');
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append('file', file); // 'file' is the name you used in the FastAPI endpoint
        // Get the color heights from the form
        var form = document.getElementById('color-heights-form');
        formData.append('black_height', form.elements['black_height'].value);
        formData.append('yellow_height', form.elements['yellow_height'].value);
        formData.append('blue_height', form.elements['blue_height'].value);
        formData.append('white_height', form.elements['white_height'].value);
        formData.append('red_height', form.elements['red_height'].value);
        
        try {
          var response = await fetch('/img2gltf', {
            method: 'POST',
            body: formData
          });

          if (response.ok) {
            var data = await response.json();
            // Handle success, update the download link
            var downloadLinkElement = document.getElementById('download-link');
            downloadLinkElement.href = data.download_link;
            downloadLinkElement.style.display = 'block'; // Show the download link
            var downloadLinkInfo = document.getElementById('download-link-info');
            downloadLinkInfo.style.display = 'block'; // Show the download link


          } else {
            // Handle errors
            alert('Failed to upload the image');
          }
        } catch (error) {
          // Handle network errors
          alert('Network error, please try again later');
        }

        // Hide spinner
        document.getElementById('spinner').style.display = 'none';
      }
      // Add this code to the end of your script
      document.addEventListener('DOMContentLoaded', function () {
        var fileInput = document.querySelector('.file-upload-input');
        if (fileInput) {
          fileInput.addEventListener('change', function () {
            readURL(this);
          });
        }
      });

      function loadColorHeight(name) {
        return localStorage.getItem(name) || null;
      }
      
      function saveColorHeight(name, value) {
        console.log (name, value)
        localStorage.setItem(name, value);
      }

      function loadSavedColorHeights() {
        var colorHeights = ['black_height', 'yellow_height', 'blue_height', 'white_height', 'red_height'];
        var defaultValues = [5, 10, 15, 20, 25];

        for (var i = 0; i < colorHeights.length; i++) {
          var savedValue = loadColorHeight(colorHeights[i]);
          if (savedValue !== null) {
            document.getElementsByName(colorHeights[i])[0].value = savedValue;
          } else {
            document.getElementsByName(colorHeights[i])[0].value = defaultValues[i];
          }
        }
      }

      // Call this function when the page loads
      document.addEventListener('DOMContentLoaded', loadSavedColorHeights);

      function getHelpPage() {
        window.location.href = '/readme';

      }
    </script>
</body>

</html>